{% extends "base.html" %}
{% load staticfiles %}

    {% block contents %}
        <p>These are the data issues identified...</p>

        <table class="table table-hover">
        <tr>
            <th>Issue</th>
            <th>Reporter</th>
            <th>Created</th>
            <th># Files Affected</th>
        </tr>
        {% for record in records %}
            <tr>
                <td>{{ record.issue }}</td>
                <td>{{ record.reporter }}</td>
                <td>{{ record.date_time_string }}</td>
                <td>{{ record.data_file.all|length }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endblock %}