{% extends "base.html" %}
{% load staticfiles %}
{% load cf_unit_date %}
{% load list_filters %}

    {% block contents %}
        <p>These are the data submissions that have been made so far...</p>

        <table class="table table-hover">
        <tr>
            <th>Current Directory</th>
            <th>Status</th>
            <th>Date Submitted</th>
            <th>Online Status</th>
            <th># Data Files</th>
            <th># Data Issues</th>
            <th>Earliest Date</th>
            <th>Latest Date</th>
            <th>Tape URL</th>
        </tr>
        {% for record in records %}
            <tr>
                <td>{{ record.directory }}</td>
                <td>{{ record.status }}</td>
                <td>{{ record.date_submitted|date:"Y-m-d" }} {{ record.date_submitted|time:"H:i" }}</td>
                {% if record.status == 'PENDING_PROCESSING' or record.status == 'ARRIVED' %}
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                {% else %}
                    <td>{{ record.online_status }}</td>
                    <td>{{ record.get_data_files|length }}</td>
                    <td>{{ record.get_data_issues|length }}</td>
                    <td>{{ record.start_time|strftime:"%Y-%m-%d" }}</td>
                    <td>{{ record.end_time|strftime:"%Y-%m-%d" }}</td>
                    <td>{{ record.get_tape_urls|item_default:"--"|join:", " }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% endblock %}
