{% extends "base.html" %}
{% load staticfiles %}

    {% block contents %}
        <p>This page will allow you to request data that is currently not
        available online to be restored from tape to disk. We do not have enough
        disk space to hold all data on disk and some has to be moved to tape.
        This request will start the process of restoring data from tape to one
        of the Group Workspaces (disk space permitting).</p>

        <p>This request functionality has not been implemented yet. Please check
        this page again soon to see when it will be available.</p>

    {% endblock %}
