{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'ext/jquery-ui-themes-1.12.1/themes/smoothness/jquery-ui.min.css' %}">
    <link href="{% static 'css/base.css' %}?v=" rel="stylesheet">
    <script language="JavaScript" src="{% static 'ext/jquery-1.12.4.min.js' %}"></script>
    <script language="JavaScript" src="{% static 'ext/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <link href="{% static 'ext/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script language="JavaScript" src="{% static 'ext/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />


    {% if page_title %}
        <title>{{ page_title }}</title>
    {% endif %}

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">PRIMAVERA Data Management Tool</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout {{ request.user }}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Views <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'received_data_quick_query' %}">Variables Received Query</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'variable_requests' %}">Variable Requests</a></li>
                    <li><a href="{% url 'data_requests' %}">Data Requests</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'retrieval_requests' %}">Retrieval Requests</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'obs_sets' %}">Observation Sets</a></li>
                    <li><a href="{% url 'obs_files' %}">Observation Files</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'data_submissions' %}">Data Submissions</a></li>
                    <li><a href="{% url 'files_quick_query' %}">Data Files</a></li>
                    <li><a href="{% url 'outstanding_data' %}">Outstanding Data Query</a></li>
                    <li><a href="{% url 'ceda_datasets' %}">CEDA Datasets</a></li>
                    <li><a href="{% url 'esgf_datasets' %}">ESGF Datasets</a></li>
                    <li><a href="{% url 'data_issues' %}">Data Issues</a></li>
                    <li><a href="{% url 'replaced_files' %}">Replaced Files</a></li>
                    <li><a href="{% url 'received_data_quick_query' %}">Query Received</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'create_submission' %}">Create Submission</a></li>
                    <li role="separator" class="divider"></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'password_change' %}">Change Password</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Create Account</a></li>
                    {% endif %}
                  </ul>
                </li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">

        {% if page_title %}
            <h1>{{ page_title}}</h1>
        {% endif %}

        {% block contents %}

        {% endblock %}
    </div>

    <div class="container-fluid">
        <div align="right">
            Copyright &copy; 2020
            <a href="https://www.primavera-h2020.eu/about/project/">
                The PRIMAVERA Consortium</a>
        </div>
    </div>

</body>
</html>
