{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="{% static 'css/base.css' %}?v=" rel="stylesheet">
    <script language="JavaScript" src="{% static 'ext/jquery-1.12.4.min.js' %}"></script>
    <script language="JavaScript" src="{% static 'ext/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>

    <link href="{% static 'ext/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

    <script type="text/javascript" src="{% static 'ext/datatables.min.js' %}"></script>
    <!-- if a table has the id sortable_table then draw it with DataTable -->
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#sortable_table').DataTable();
        } );
    </script>


    <title>{{ page_title }}</title>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">PRIMAVERA Data Management Tool</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout {{ request.user }}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="/admin/">Admin</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Views <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'data_submissions' %}">Data Submissions</a></li>
                    <li><a href="{% url 'data_files' %}">Data Files</a></li>
                    <li><a href="{% url 'esgf_datasets' %}">ESGF Datasets</a></li>
                    <li><a href="{% url 'ceda_datasets' %}">CEDA Datasets</a></li>
                    <li><a href="{% url 'data_requests' %}">Data Requests</a></li>
                    <li><a href="{% url 'data_issues' %}">Data Issues</a></li>
                    <li><a href="{% url 'var_req_query' %}">Variable Request</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'variable_query' %}">Variables Received Query</a></li>
                    <li><a href="{% url 'outstanding_query' %}">Outstanding Data Query</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'create_submission' %}">Create Submission</a></li>
                    <li><a href="{% url 'retrieval_request' %}">Retrieval Request</a></li>
                  </ul>
                </li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <H1>{{ page_title|default:"Untitled Page" }}</H1>

        {% block contents %}

        {% endblock %}
    </div>

</body>
</html>
