{% extends "pdata_app/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

    {% block contents %}
        <p>
            {% if request.GET.data_submission %}
                These are the netCDF files for data submission ...
                <pre>{{ request.GET.data_submission_string }}</pre>
            {% elif request.GET.data_request %}
                These are the netCDF files for data request ...
                <pre>{{ request.GET.data_request_string }}</pre>
            {% elif request.GET.data_issue %}
                These are the netCDF files affected by data issue
                <a href="{% url 'data_issues' %}?id={{ request.GET.data_issue }}">
                    #{{ request.GET.data_issue }}</a>  ...
                <pre>{{ request.GET.data_issue_string }}</pre>
            {% else %}
                These are the netCDF files that we know about...
            {% endif %}
        </p>

        <p>
            <form class="form-inline" action="{% url 'data_files' %}" method="get">
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" {% if request.GET.name %} value="{{ request.GET.name }}" {% endif %} autofocus>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="directory">Directory</label>
                    <input type="text" class="form-control" name="directory" id="directory" placeholder="Directory" {% if request.GET.directory %} value="{{ request.GET.directory }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="version">Version</label>
                    <input type="text" class="form-control" name="version" id="version" placeholder="Version" {% if request.GET.version %} value="{{ request.GET.version }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="tape_url">Tape URL</label>
                    <input type="text" class="form-control" name="tape_url" id="tape_url" placeholder="Tape URL" {% if request.GET.tape_url %} value="{{ request.GET.tape_url }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="institute">Institute</label>
                    <input type="text" class="form-control" name="institute" id="institute" placeholder="Institute" {% if request.GET.institute %} value="{{ request.GET.institute }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="climate_model">Climate Model</label>
                    <input type="text" class="form-control" name="climate_model" id="climate_model" placeholder="Climate Model" {% if request.GET.climate_model %} value="{{ request.GET.climate_model }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="experiment">Experiment</label>
                    <input type="text" class="form-control" name="experiment" id="experiment" placeholder="Experiment" {% if request.GET.experiment %} value="{{ request.GET.experiment }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="mip_table">MIP Table</label>
                    <input type="text" class="form-control" name="mip_table" id="mip_table" placeholder="MIP Table" {% if request.GET.mip_table %} value="{{ request.GET.mip_table }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="rip_code">Variant Label</label>
                    <input type="text" class="form-control" name="rip_code" id="rip_code" placeholder="Variant Label" {% if request.GET.rip_code %} value="{{ request.GET.rip_code }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="cmor_name">CMOR Name</label>
                    <input type="text" class="form-control" name="cmor_name" id="cmor_name" placeholder="CMOR Name" {% if request.GET.cmor_name %} value="{{ request.GET.cmor_name }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="grid">Grid Label</label>
                    <input type="text" class="form-control" name="grid" id="grid" placeholder="Grid Label" {% if request.GET.grid %} value="{{ request.GET.grid }}" {% endif %}>
                </div>
                {% if request.GET.data_submission %}
                    <input type="hidden" name="data_submission" value="{{ request.GET.data_submission }}">
                    <input type="hidden" name="data_submission_string" value="{{ request.GET.data_submission_string }}">
                    <a class="btn btn-default" href="{% url 'data_files' %}?data_submission={{ request.GET.data_submission }}&data_submission_string={{ request.GET.data_submission_string }}">Clear</a>
                {% elif request.GET.data_request %}
                    <input type="hidden" name="data_request" value="{{ request.GET.data_request }}">
                    <input type="hidden" name="data_request_string" value="{{ request.GET.data_request_string }}">
                    <a class="btn btn-default" href="{% url 'data_files' %}?data_request={{ request.GET.data_request }}&data_request_string={{ request.GET.data_request_string }}">Clear</a>
                {% elif request.GET.data_issue %}
                    <input type="hidden" name="data_issue" value="{{ request.GET.data_issue }}">
                    <input type="hidden" name="data_issue_string" value="{{ request.GET.data_issue_string }}">
                    <a class="btn btn-default" href="{% url 'data_files' %}?data_issue={{ request.GET.data_issue }}&data_issue_string={{ request.GET.data_issue_string }}">Clear</a>
                {% else %}
                    <a class="btn btn-default" href="{% url 'data_files' %}">Clear</a>
                {% endif %}
                <input type="submit" class="btn btn-default" value="Filter" />
            </form>
        </p>

        {% render_table table %}
    {% endblock %}