{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

    {% block contents %}
        <p>These are the data requests made...</p>

        <p>
            <form class="form-inline" action="{% url 'data_requests' %}" method="get">
                <div class="form-group">
                    <label class="sr-only" for="project">Project</label>
                    <input type="text" class="form-control" name="project" id="project" placeholder="Project" {% if request.GET.project %} value="{{ request.GET.project }}" {% endif %} autofocus>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="institute">Institute</label>
                    <input type="text" class="form-control" name="institute" id="institute" placeholder="Institute" {% if request.GET.institute %} value="{{ request.GET.institute }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="climate_model">Climate Model</label>
                    <input type="text" class="form-control" name="climate_model" id="climate_model" placeholder="Climate Model" {% if request.GET.climate_model %} value="{{ request.GET.climate_model }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="experiment">Project</label>
                    <input type="text" class="form-control" name="experiment" id="experiment" placeholder="Experiment" {% if request.GET.experiment %} value="{{ request.GET.experiment }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="variable_request">Variable Request</label>
                    <input type="text" class="form-control" name="variable_request" id="variable_request" placeholder="Variable Request" {% if request.GET.variable_request %} value="{{ request.GET.variable_request }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="rip_code">Ensemble Member</label>
                    <input type="text" class="form-control" name="rip_code" id="rip_code" placeholder="Ensemble Member" {% if request.GET.rip_code %} value="{{ request.GET.rip_code }}" {% endif %}>
                </div>
                <input type="submit" class="btn btn-default" value="Filter" />
            </form>
        </p>

        {% render_table table %}

    {% endblock %}