{% extends "pdata_app/base.html" %}
{% load staticfiles %}

    {% block contents %}
        <p>
        This is the PRIMAVERA Data Management Tool (DMT).
        </p>

        <p>
            More to come in the future...
        </p>

        <p>Try some links:</p>

        <ul>
            <li><a href="{% url 'data_submissions' %}">View Data Submissions</a></li>
            <li><a href="{% url 'data_files' %}">View Data Files</a></li>
            <li><a href="{% url 'esgf_datasets' %}">View ESGF Datasets</a></li>
            <li><a href="{% url 'ceda_datasets' %}">View CEDA Datasets</a></li>
            <li><a href="{% url 'data_issues' %}">View Data Issues</a></li>
            <li><a href="{% url 'variable_requests' %}">View Variable Requests</a></li>
            <li><a href="{% url 'data_requests' %}">View Data Requests</a></li>
            <li><a href="{% url 'retrieval_requests' %}">View Retrieval Requests</a></li>
        </ul>

        <p>The following queries are available:</p>

        <ul>
            <li><a href="{% url 'received_data' %}">Variables Received Query</a></li>
            <li><a href="{% url 'outstanding_data' %}">Outstanding Data Query</a></li>
        </ul>

        <p>The following data submission form is also available:</p>


        <ul>
            <li><a href="{% url 'create_submission' %}">Data Submission Complete</a></li>
        </ul>


        <p>Please note that all times in this system are in UTC.</p>

    {% endblock %}