{% extends "pdata_app/base.html" %}
{% load static %}

    {% block contents %}
        <p>
            This is the PRIMAVERA Data Management Tool (DMT) to track data files
            produced for the PRIMAVERA project. PRIMAVERA is a Horizon 2020
            project funded by European Commission. It is a collaboration
            between 19 European partners.
        </p>

        <p>To query the data that is available to users at JASMIN:</p>

        <ul>
            <li><a href="{% url 'received_data_quick_query' %}">Variables Received Query</a></li>
        </ul>

        <p>The PRIMAVERA data request is available:</p>

        <ul>
            <li><a href="{% url 'variable_requests' %}">View Variable Requests</a></li>
            <li><a href="{% url 'data_requests' %}">View Data Requests</a></li>
        </ul>

        <p>Requests to restore data from tape to group workspace can be viewed:</p>

        <ul>
            <li><a href="{% url 'retrieval_requests' %}">View Retrieval Requests</a></li>
        </ul>

        <p>
            The following observations and reanalyses that are available at JASMIN have been
            catalogued:
        </p>

        <ul>
            <li><a href="{% url 'obs_sets' %}">View Observation and Reanalysis Sets</a></li>
            <li><a href="{% url 'obs_files' %}">View Observation Files</a></li>
        </ul>

        <p>The following views are also available:</p>

        <ul>
            <li><a href="{% url 'data_submissions' %}">View Data Submissions</a></li>
            <li><a href="{% url 'files_quick_query' %}">View Data Files</a></li>
            <li><a href="{% url 'outstanding_data' %}">Outstanding Data Query</a></li>
            <li><a href="{% url 'ceda_datasets' %}">View CEDA Datasets</a></li>
            <li><a href="{% url 'esgf_datasets' %}">View ESGF Datasets</a></li>
            <li><a href="{% url 'data_issues' %}">View Data Issues</a></li>
            <li><a href="{% url 'replaced_files' %}">View Replaced Files</a></li>
            <li><a href="{% url 'received_data_quick_query' %}">Quickly Query Received Data</a> </li>
        </ul>


        <p>Indicate that a data submission is complete:</p>

        <ul>
            <li><a href="{% url 'create_submission' %}">Data Submission Complete</a></li>
        </ul>

        {% if not user.is_authenticated %}

            <p>Create an account:</p>

            <ul>
                <li><a href="{% url 'register' %}">Create Account</a></li>
            </ul>

        {% endif %}


        <p>Please note that all times in this system are in UTC.</p>

    {% endblock %}