{% extends "base.html" %}
{% load staticfiles %}

    {% block contents %}
        <p>These are the data requests made...</p>

        <table class="table table-hover">
        <tr>
            <th>Institute</th>
            <th>Climate Model</th>
            <th>Experiment</th>
            <th>Variable ID</th>
            <th>Frequency</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        {% for record in records %}
            <tr>
                <td>{{ record.institute.short_name }}</td>
                <td>{{ record.climate_model.short_name }}</td>
                <td>{{ record.experiment.short_name }}</td>
                <td>{{ record.variable.var_id }}</td>
                <td>{{ record.frequency }}</td>
                <td>{{ record.start_time|date:"Y-m-d" }}</td>
                <td>{{ record.end_time|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endblock %}