
{% extends "et_indexer/base.html"%}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block contents %}
        <p>
        <form class="form-inline" action="{% url 'et_indexer_view_datafiles' %}" method="get">
            <div class="form-group">
                <label class="sr-only" for="original_location">File Name</label>
                <input type="text" class="form-control" name="original_location" id="original_location" placeholder="File Name" {% if request.GET.original_location %} value="{{ request.GET.original_location }}" {% endif %} autofocus>
            </div>
            <div class="form-group">
                <label class="sr-only" for="batch_id">Batch ID</label>
                <input type="text" class="form-control" name="batch_id" id="batch_id" placeholder="Batch ID" {% if request.GET.batch_id %} value="{{ request.GET.batch_id }}" {% endif %}>
            </div>
            <div class="form-group">
                <label class="sr-only" for="status">File Status</label>
                <input type="text" class="form-control" name="status" id="status" placeholder="File Status" {% if request.GET.status %} value="{{ request.GET.status }}" {% endif %}>
            </div>
            <div class="form-group">
                <label class="sr-only" for="directory">Directory</label>
                <input type="text" class="form-control" name="directory" id="directory" placeholder="Directory" {% if request.GET.directory %} value="{{ request.GET.directory }}" {% endif %}>
            </div>
            <a class="btn btn-default" href="{% url 'et_indexer_view_datafiles' %}">Clear</a>
            <input type="submit" class="btn btn-default" value="Filter" />
        </form>
    </p>


    {% render_table table %}

{% endblock %}
    

