{% extends "et_indexer/base.html"%}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block contents %}
    <p>
        <form class="form-inline" action="{% url 'et_indexer_view_varquery' %}" method="get">
            <div class="form-group">
                <label class="sr-only" for="data_file">Data File</label>
                <input type="text" class="form-control" name="data_file" id="data_file" placeholder="Data File" {% if request.GET.data_file %} value="{{ request.GET.data_file }}" {% endif %} autofocus>
            </div>
            <div class="form-group">
                <label class="sr-only" for="variable">Var Name</label>
                <input type="text" class="form-control" name="variable" id="variable" placeholder="Var Name" {% if request.GET.variable %} value="{{ request.GET.variable }}" {% endif %}>
            </div>
            <div class="form-group">
                <label class="sr-only" for="batch_id">Batch ID</label>
                <input type="text" class="form-control" name="batch_id" id="batch_id" placeholder="Batch ID" {% if request.GET.batch_id %} value="{{ request.GET.batch_id }}" {% endif %}>
            </div>
            <div class="form-group">
                <label class="sr-only" for="status">File Status</label>
                <input type="text" class="form-control" name="status" id="status" placeholder="File Status" {% if request.GET.status %} value="{{ request.GET.status }}" {% endif %}>
            </div>
            <div class="form-group">
                <label class="sr-only" for="directory">Directory</label>
                <input type="text" class="form-control" name="directory" id="directory" placeholder="Directory" {% if request.GET.directory %} value="{{ request.GET.directory }}" {% endif %}>
            </div>
            <a class="btn btn-default" href="{% url 'et_indexer_view_varquery' %}">Clear</a>
            <input type="submit" class="btn btn-default" value="Filter" />
        </form>
    </p>


    {% render_table table %}

{% endblock %}
